{% extends 'base.html' %}
{% block content %}
    {{super()}}
    <div class="container">
        <h1 class="page-header">
            Blogs
        </h1>
        {% if current_user.writer %}
        <a href="#" class="btn btn-primary">Add blog</a>
        {% endif %}
    </div>
    <div class="container">
        {% if blogs %}
        {% for blog in blogs %}
        <div class="card">
            <h5 class="card-header">Blog</h5>
            <div class="card-body">
                <h5 class="card-title">{{blog.title}}</h5>
                <p class="card-text">{{blog.text[:64]}}</p>
                <a href="#" class="btn btn-primary">See blog</a>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h4>No blog yet !!</h4>
        {% endif %}
{% endblock %}
