{% extends 'base.html' %}
{% block content %}
    {{super()}}
    <div class="container">
        <h1 class="page-header">
            Blogs
        </h1>
        {% if current_user.writer %}
        <a href="/add_blog" class="btn btn-primary" style="margin-bottom:30px">Add blog</a>
        {% endif %}
    </div>
    <div class="container">
        {% if blogs %}
        {% for blog in blogs %}
        <div class="card">
            <h5 class="card-header">Blog</h5>
            <div class="card-body">
                <h5 class="card-title">{{blog.title}}</h5>
                <p class="card-text">{{blog.text[:256]}}...</p>
                <a href="/blog/{{blog.id}}" class="btn btn-primary">See blog</a>
            </div>
            {% if current_user.writer %}
            <div class="card-footer">
                <a href="/blog/delete/{{blog.id}}" class="card-link">Delete</a>
                <a href="/blog/edit/{{blog.id}}" class="card-link">Edit</a>
            </div>
            {% endif %}
        </div>
        {% endfor %}
        {% else %}
        <h4>No blog yet !!</h4>
        {% endif %}
{% endblock %}
