{% extends './base.html' %}
{% block content %}
    <div class="container">
        <div class="panel-group">
            <div class="panel panel-info">
                <div class="panel-heading  animate">
                    <h4 class="panel-title">
                        Blogs
                    </h4>
                    {% if current_user.is_authenticated %}
                    <div class="container">
                        <a class="btn btn-primary" href="">+ Add Blog</a>
                    </div>
                    {% endif %}
                </div>
                <div class="panel-body">
                    <div class="card-columns">
                        {% for blog in blogs %}
                        <div class="card">
                            <div class="card-header">
                                <a href="/blog/{{blog.id}}">
                                    <h2>{{blog.title}}</h2>
                                </a>
                            </div>
                            <div class="card-body">{{blog.text[:64]}}</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
{% endblock %}
